// @import url('https://fonts.googleapis.com/css?family=Chivo|Overpass');
// @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Lora|Quicksand:400,700');

// $font-color: rgb(119,201,212);

@import 'variables.scss';

html{
  height: 100%;
}

body {
  height: 100%;  
  margin: 0;
  
  font-family: 'Quicksand', sans-serif;
  // font-family: 'Overpass', sans-serif;
  // font-family: 'Lora', serif;
  letter-spacing: .05rem;
  // color: rgb(119,201,212);
  color: black;
  background: #C4C4C4;
  // background: white;
  overflow: hidden;
}
 
#app > div {
  margin: 0 auto;
  height: 100vh;
  max-width: 1080px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
// HEADER

header {
  width: 90%;
  height: 5%;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5% 5%;
}

#initial {
  border: 2px solid;
  font-size: 2rem;
  letter-spacing: 0rem;
  padding: .25% .5% .25% .5%;
  text-decoration: none; 
  color: black;
  span{
    margin-right: 1px;
  }
}  

#links{
  flex: 0 1 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 1.25em;
  > a {
    margin: 0 5%;
  }
}

#social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}
// #social-links {
//   width: inherit;
//   height: auto;
//   // background-color: rgb(219, 219, 219);
//   z-index: 2;  
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   // opacity: .75;
// }

.nav-link {
  text-decoration: none; 
  color: #C4C4C4;
}
.nav-link:hover{
  text-decoration: underline;
}
.nav-link:active {
  text-decoration: underline;
  color: rgb(87,188,144); 
}
.active-link {
  text-decoration: underline;
  color: black;
}

.link, .link:visited {
  text-decoration: none; 
  color: black;
}
.link:hover{
  text-decoration: underline;
}


.section {
  // background: #ECF0F2;
  height: 100%;
  width: 60%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5% 5%;
  p {
    // margin-bottom: 10%;
  }
}

footer {
  width: 90%;
  margin: 0 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  font-size: .8em;
}

main {
  height:80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  // background: black;
}

main > div {
  width: 80%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin:1% auto;
  }
  p {
    color: black;
  }
}  

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-top: 5%;
  a {
    color: rgb(119,201,212); 
  }
  a:hover, a:active, a:visited {
    color: rgb(87,188,144); 
  }
}
.icon {
  height: 35px;
}
.icon-sm {
  height: 20px;
}

.content, p {
  font-family: 'Lora', serif;
}

// image
.img-container {
  // border: 1px solid black;
  border-radius: 50%;
  height: 215px;
  overflow: hidden;    
  z-index:2;
  margin-top: 2.5%;
}
img {
  height: 215px;
  z-index:1;
}

@media (max-width: #{$break-point-lg-tablet}){
  #app > div {
    // padding: 1% 10% 5%;
  }
  header {
    // width: 90%;
    // height: 5%;
    // font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2.5% 5%;
    #initial {
      border: 2px solid;
      font-size: 1rem;
      letter-spacing: 0rem;
      padding: .25% .5% .25% .5%;
      text-decoration: none; 
      color: black;
      span{
        margin-right: 1px;
      }
    }
    #links{
      
    }
  }  

  main {
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    > div {
      // width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    #home{
      justify-content: flex-start;
    }
    .section {
      width: 80%;
      justify-content: space-between;
    }
  }
}
  
@media (max-width:   #{$break-point-phone}){
  #social {
    justify-content: space-between;
  }
  .icon {
    // height: 30px;
  }
  .img-container {
    border-radius: 50%;
    height: 100px;
    overflow: hidden;    
    z-index:2;
    margin-top: 2.5%;
  }
  img {
    height: 100px;
    z-index:1;
  }
}

