@import 'variables.scss';

aside{
  a {
    text-decoration: none;
  }
  hr {
    color: rgb(119,201,212);
  }
  h1 {
    border-bottom: 2.5px solid rgb(119,201,212);
  }
  > div {
    width: 100%;
  }
}
  
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  padding: 2% 0 5% 0;
  text-align: center;
}

nav a {
  padding: 5px;
  text-decoration: none; 
  font-size: 1.25em;
  color: black;
}

nav a:hover, a:active {
  // font-weight: 600;
  // color: black;
  color: rgb(87,188,144); 
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-top: 5%;
  // margin-top: 15%;
  a {
    color: rgb(119,201,212); 
  }
  a:hover, a:active, a:visited {
    color: rgb(87,188,144); 
  }
}

.icon {
  height: 35px;
}

.icon-sm {
  height: 20px;
}

@media (max-width: #{$break-point-lg-tablet}){
  .icon {
    height: 20px;
  }
}

@media (max-width: #{$break-point-phone}){
  .icon {
    height: 20px; }
}
